body {
    font-family: Arial, sans-serif;
    background-color: #019dc4;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    background-color: #08cddbb6;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.surveyItem {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ddf1ff;
}

.deleteBtn {
    background-color: #f44336;
}

.deleteBtn:hover {
    background-color: #d32f2f;
}

.deleteBtn,
.deleteBtn:hover {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
